<!doctype html>
<html lang="en"
      xmlns:th = "http://www.thymeleaf.org"
      xmlns:layout = "http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/base.html">
xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div layout:fragment="header-title">
    <h1>Все доступные курсы</h1>
</div>

<div layout:fragment="content">
    <div th:each="course:${courses}">
        <img th:src="${course.getImage()}" alt="">
        <h1 th:text="${course.getName()}"></h1>
        <p th:text="${course.getDescription()}"></p>
        <h3 th:text="${course.getIsPremium()}"></h3>

        <a th:href="@{'/courses/'+${course.id}+'/edit'}">Edit</a>
    </div>
</div>
</html>