<!doctype html>
<html lang="en"
      xmlns:th = "http://www.thymeleaf.org"
      xmlns:layout = "http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/base.html">
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

      <div layout:fragment="header-title">
          <input type="text" class="search-input" placeholder="Поиск курсов, материалов и т.д">
      </div>

    <div layout:fragment="content">
        <h1>Hello My Ni</h1>

        <a th:href="@{'/sign-in'}">Login Page</a>
    </div>
</html>